<%- include('../partials/header'); %>

    <nav class="flexRow">
        <a class="logoutButton" href="/logut">LOG OUT</a>
    </nav>
    <div class="contentWrapper">
        <h1 class="welcomeBanner">Welcome <%= name %></h1>
        <h2>Select Your Property: </h2>
        <form id="hotels" action="/hotels/<%= hotels[0].id %>">
            <select id="hotel">
                <%  hotels.forEach((hotel) => { %>
                <%-     `<option value="${hotel.id}>">${hotel.name}</option> ` %>
                <%  }); %>
            </select>
            <div>
                <button type ="submit">
                    Select Hotel
                </button>
            </div>
        </form>
    </div>

<%- include('../partials/footer'); %>