 <%- include('../partials/header'); %>

    <nav class="flexRow leftJustify">
        <a href="/landing/null">BACK</a>
    </nav>
    <div class="contentWrapper">
        <div class="flexColumn">
            <h1 class="mainHeading"><%= hotel.name %></h1>
            <a href="/hotels/<%=hotel._id%>/reservations/new/null">New Reservation</a>
            <table>
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="arrival">Arrival</th>
                        <th class="departure">Departure</th>
                        <th class="details"></th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach( (res) => {  %>
                        <%- `
                            <tr>
                                <td>${res.primaryGuest.title} ${res.primaryGuest.firstName} ${res.primaryGuest.lastName}</td>
                                <td>${res.arrival}</td>
                                <td>${res.departure}</td>
                                <td><a href="/reservations/${res._id}">Details</a></td>
                            </tr>
                            `
                        %>
                        <% }); %>
                </tbody>
            </table>
           
        </div>
    </div>

<%- include('../partials/footer'); %>


